<!DOCTYPE html>
<html lang="en">
<head>
</head>

<style>
body {
background-image:url("static/img/img6.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
}
</style>

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <center><font style="color: orange"; size="9">
            <h1 class="text-center">Steganography</h1>
            </font></center>
        </div>
    </div>
    <div class="row ">
        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <form id="encode" action="{{url_for('encode')}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="source_encode">ADD SOURCE IMAGE (Image file)</label>
                    <input id="source_encode" name="source" type="file" class="form-control-file"/>
                </div>
                <div class="form-group">
                    <form>
                    <label for="message_encode">MESSAGE TO HIDE:</label>
                    <textarea class="u-full-width" id="message_encode" name="message"></textarea>
                    </form>
                </div>
                <input type="submit" class="btn btn-primary" value="Encode" onclick="alert('your msg has been hiden');"/>
            </form>
        </div>
        <div class="col">
            <form id="decode" action="{{url_for('decode')}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="source_decode">ADD ENCODED IMAGE</label>
                    <input id="source_decode" class="form-control-file" name="source_dec" type="file"/>
                </div>
                <input type="submit" value="Decode" class="btn btn-primary" onclick="alert('your msg has been decoded');"/>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <img id="img" class="img-fluid" src="" width="100%"/>
            <div id="message"></div>
            <!--<button id="download" class="btn btn-primary">Download</button>-->
        </div>
    </div>
</div>

</body>
</html>



