<!DOCTYPE html>
<html lang="en">
<head>
</head>

<style>
body {
background-image:url("static/img/img6.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
}
</style>

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <center><font style="background-color:chartreuse" size="16">Steganography</font></center>
            <p><br><br></p>
        </div>
    </div>
    <div class="row ">
        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <form id="encode" action="{{url_for('encode')}}" method="post" enctype="multipart/form-data">
                <div class="form-group">

                    <center><h1><font style="background-color:rgb(255, 208, 0)" size="5">ENCODE</font></h1></center>
                <b>
                    <label for="source_encode"><font style="background-color:rgb(228, 145, 231)"; size="5">ADD SOURCE IMAGE (Image file)</font></label>
                    <br>
                    <input id="source_encode" name="source" type="file" class="form-control-file"/>
                    <p><br></p>

                </div>
                <div class="form-group">
                    <form>
                    <label for="message_encode"><font style="background-color:rgb(228, 145, 231)"; size="5">MESSAGE TO HIDE:</font></label>
                    <br>
                    <textarea class="u-full-width" id="message_encode" name="message"></textarea>
                    <p><br></p>
                    </form>
                    </div>
                </font>
                </div>
                <input type="submit" class="btn btn-primary" value="Encode" onclick="alert('your msg has been hiden');"/>
            </form>
        </div>
        <div class="col">
            <form id="decode" action="{{url_for('decode')}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <center><h1><font style="background-color:rgb(255, 208, 0)" size="5">DECODE</font></h1></center>
                    <font style="color:black"; size="5">
                        <p><br></p>
                    <label for="source_decode"><font style="background-color:rgb(220, 231, 66)"; size="5">ADD ENCODED IMAGE</font><br></label>
                    <input id="source_decode" class="form-control-file" name="source_dec" type="file"/>
                    <p><br></p>
                </div>
                <input type="submit" value="Decode" class="btn btn-primary" onclick="alert('your msg has been decoded');"/>
                </font></b>

            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <img id="img" class="img-fluid" src="" width="100%"/>
            <div id="message"></div>
            <!--<button id="download" class="btn btn-primary">Download</button>-->
        </div>
    </div>
</div>

</body>
</html>



